@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,400|Averia+Serif+Libre:300,400|Roboto+Slab:100,300,400,700|Open+Sans:300,300i,400,400i,700,700i&display=swap');


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

ul,
li {
  margin: 0;
  padding: 0; }

#home_background {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#home_planet {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-image: url(/images/Asset%203.svg);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#home_astronaut {
    position: absolute;
    bottom: 0;
    left: 25vw;
    height: 100vh;
    width: 15vw;
    background-image: url(/images/Asset%202.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.float_animation {
    animation-name: float;
    animation-timing-function:ease-in-out;
}

@keyframes float {
    0%   { transform: translateY(0); }
    25%  { transform: translate(-4px,10px); }
    50% { transform: translateY(0); }
    75%   { transform: translate(2px,10px); }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 768px) {
    #home_astronaut {
        width: 22vw;
        left: 30vw;
    }
    #home_planet {
        width: 70vw;
    }

}

@media only screen and (max-width: 650px) {
    .nav .pages {
        margin: none;
        padding-right: 20px;
        text-align: right;
    }
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #003247;
  background: linear-gradient(-160deg, #003247 0%, #005a95 70%, #5c95bb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

a {
  text-decoration: none; }

html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff; }

html {
  overflow-y: scroll; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media all and (min-width: 740px) {
    .container {
      width: 640px; } }
  @media all and (min-width: 1100px) {
    .container {
      width: 1020px; } }
  @media all and (min-width: 1300px) {
    .container {
      width: 1220px; } }
  @media all and (min-width: 1500px) {
    .container {
      width: 1420px; } }


.nav__x {
position: absolute;
top: -30px;
right: 20px;
width: 30px;
height: 30px;
cursor: pointer;
padding: 7px;
transition: transform .2s ease-in-out; }
@media all and (min-width: 1020px) {
  .nav__x {
    left: 50%;
    margin-left: -483px; } }
@media all and (min-width: 1300px) {
  .nav__x {
    margin-left: -600px; } }
.nav__x-svg {
fill: #003264; }
.desktop .nav__x:hover {
  transform: rotate(90deg); }

#logo {
    height: 70px;
    width: 70px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 15px;
  z-index: 5;
  top: -100px; }
  .nav--show {
    top: 0;
  }

  .nav__logo {
    position: absolute;
    left: 15px;
    display: block;
    margin: 5px 0 0 0;
    overflow: hidden;
    cursor: pointer; }

.nav .pages {
    padding-top: 15px;
}

.nav .pages a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.85em;
}

.desktop .arrow-left:hover .arrow-left__svg {
  transform: translateX(-8px); }
.desktop .arrow-right:hover .arrow-right__svg {
  transform: translateX(8px); }

.day-list-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.arrow-left {
  width: 40px;
  height: 58px;
  position: absolute;
  top: 50%;
  left: -80px;
  margin-top: -30px;
  z-index: 3;
  cursor: pointer;
  transition: left .3s ease-in-out; }
  .arrow-left--show {
    left: 0; }
    @media all and (min-width: 330px) {
      .arrow-left--show {
        left: 15px; } }
    @media all and (min-width: 780px) {
      .arrow-left--show {
        left: 25px; } }
  .arrow-left__svg {
    width: 16px;
    margin: 12px 0 0 12px;
    transition: transform .2s ease-in-out; }
  .arrow-left__shape {
    fill: #003264; }

.arrow-right {
  width: 40px;
  height: 58px;
  position: absolute;
  top: 50%;
  right: -80px;
  margin-top: -30px;
  z-index: 3;
  cursor: pointer;
  transition: right .3s ease-in-out; }
  .arrow-right--show {
    right: 0px; }
    @media all and (min-width: 330px) {
      .arrow-right--show {
        right: 15px; } }
    @media all and (min-width: 780px) {
      .arrow-right--show {
        right: 25px; } }
  .arrow-right__svg {
    width: 16px;
    margin: 12px 0 0 12px;
    transition: transform .2s ease-in-out; }
  .arrow-right__shape {
    fill: #003264; }

.day-list {
  position: absolute;
  visibility: hidden;
  z-index: 2; }
  .day-list__item {
    width: 800px;
    height: 500px;
    position: absolute;
    z-index: 0; }
    .day-list__item:nth-child(1) .day-list__bg, .day-list__item:nth-child(6) .day-list__bg {
      background-color: #00917e; }
    .day-list__item:nth-child(2) .day-list__bg, .day-list__item:nth-child(7) .day-list__bg {
      background-color: #f15f4e; }
    .day-list__item:nth-child(3) .day-list__bg, .day-list__item:nth-child(8) .day-list__bg {
      background-color: #00a0af; }
    .day-list__item:nth-child(4) .day-list__bg, .day-list__item:nth-child(9) .day-list__bg {
      background-color: #005a95; }
    .day-list__item:nth-child(5) .day-list__bg, .day-list__item:nth-child(10) .day-list__bg {
      background-color: #f7d24a; }
  .day-list__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00affa; }
  .day-list__title {
    opacity: 0;
	font-weight: 600;
    font-size: 30px;
    line-height: 1em;
    color: #fff;
    position: absolute;
    z-index: 0;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center; }
    @media all and (min-width: 780px) {
      .day-list__title {
        font-size: 40px;
        margin-top: -50px; } }
    @media all and (min-width: 1650px) and (min-height: 1070px) {
      .day-list__title {
        font-size: 80px;
        margin-top: -65px; } }
  .day-list__bg-img { width: 100%; }
  .day-list__cta {
    font-size: 16px;
    line-height: 1em;
    color: #fff;
    position: absolute;
    z-index: 0;
    top: 50%;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0; }
    @media all and (min-width: 780px) {
      .day-list__cta {
        margin-top: 35px;
        font-size: 20px; } }
    @media all and (min-width: 1650px) and (min-height: 1070px) {
      .day-list__cta {
        margin-top: 50px; } }
  .day-list__header {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .day-list__artists {
    display: none;
    width: 100%;
    position: relative;
    top: 100%;
    margin-top: 100px; }

.day-numbers {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  opacity: 0; }
  @media all and (min-width: 780px) {
    .day-numbers {
      bottom: 30px; } }
  .day-numbers__line {
    width: 10px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0; }
  .day-numbers__number {
    color: #003264;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    padding: 0 2px 0 4px;
    font-weight: 400;
    margin-right: 8px;
    letter-spacing: .1em;
    transition: color .3s linear; }
    @media all and (min-width: 780px) {
      .day-numbers__number {
        font-size: 20px;
        margin-right: 13px; } }
    .day-numbers__number--disabled {
      color: #ccc !important; }
    .day-numbers__number--selected, .day-numbers__number:hover {
      color: black }
    .day-numbers__number--selected.teal, .day-numbers__number:hover.teal {
      color: black; }
    .day-numbers__number--selected.pink, .day-numbers__number:hover.pink {
      color: black; }
  .day-numbers .day-numbers__number--disabled.day-numbers__number--selected {
    border-color: #ccc !important; }

div.container {
  margin: 0 auto;
  text-align: center;
}

div.container a {
  color: black;
  text-decoration: none;
  font: 20px;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background: white;
  color: white;
  content: "";
  opacity: 0;
  transition: all 0.5s;
}

div.topBotomBordersIn a:before
{
  top: -3px;
  transform: translateY(-8px);
}

div.topBotomBordersIn a:after
{
  bottom: -3px;
  transform: translateY(8px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
  opacity: 1;
  transform: translateY(0px);
}

/* GENERAL STYLE -------------------- */
.cd-intro {
  position: absolute;
  top: 30%;
  right: 5vw;
  width: 45%;
  /* vertically align its content */
  display: table;
  overflow: hidden;
  z-index: 4;
}

.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 5%;
}

@media only screen and (max-width: 768px) {
    .cd-intro-content {
        text-align: center;
    }
}

@media only screen and (max-width: 950px) {
        .cd-intro {
            top: 20%;
            width: 90%;
            right: 0;
            left: 0;
            margin: auto;
    }
}

.cd-intro-content h1 {
  font-family: 'Averia Serif Libre', serif;
  font-weight: 100;
  font-size: 2.5rem;
  color: #fff;
  margin-left: -2px;
}
.cd-intro-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}
.cd-intro-content .action-wrapper {
  display: inline-block;
}
.cd-intro-content .action-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.cd-intro-content .action-wrapper > * {
  float: left;
}

.cd-btn {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  padding: 15px 0px;
  width: 230px;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #202e4a;
  border-radius: 100px;
  transition: all .5s ease-out;
}

.cd-btn:hover {
    background-color: #F15F4E;
    letter-spacing: 1px;
}



.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}

.mask-2.cd-intro-content * {
  /* overwrite default style */
  opacity: 1;
}

.mask-2.cd-intro-content .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
}
.mask-2.cd-intro-content .content-wrapper::before {
  /* vertical bar */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
  -webkit-animation: cd-pulse 1.3s 0.3s both;
  -moz-animation: cd-pulse 1.3s 0.3s both;
  animation: cd-pulse 1.3s 0.3s both;
  animation-delay: 1s;
}
.no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
  opacity: 0;
}
.mask-2.cd-intro-content .content-wrapper > div {
  /* wrap the entire content */
  position: relative;
  z-index: 1;
}

.mask-2.cd-intro-content .content-wrapper,
.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.mask-2.cd-intro-content .content-wrapper {
  -webkit-animation-name: cd-mask-wrapper;
  -moz-animation-name: cd-mask-wrapper;
  animation-name: cd-mask-wrapper;
}

.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-name: cd-mask-content;
  -moz-animation-name: cd-mask-content;
  animation-name: cd-mask-content;
}

@-webkit-keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-wrapper {
  0% {
    -moz-transform: translateX(50%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-content {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.project_intro {
    text-align: center;
    color: white;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 15vh;
    font-size: 1.3em;
    font-weight: 100;
    width: 70vw;
}

.project_content {
    margin: 0 auto;
}

.me {
    margin-top: 100px;
    text-align: center;
    font-family: 'Averia Serif Libre', serif;
    font-size: 5vw;
    color: #B4C7D8;
    background: linear-gradient(-90deg, #5c95bb 0%, #005a95 20%, #003247 40%, #005a95 70%, #5c95bb 100%);
    background-size: 200% auto;  
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s linear infinite;
}

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.path {
    width: 52vw;
    margin: 0 auto;
    z-index: -1;
    display: block;
}

.vertical_path_notes {
    display: flex;
    justify-content: space-around;
}

.vertical_path_note_one {
    width: 40vw;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 100;
    text-align: center;
}

.vertical_path_note_two {
    width: 40vw;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 100;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 100px;
    margin-top: -50px;
}

.planet {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
}

.planet_text {
    text-align: center;
    height: 20%;
    width: 65%;
    margin: 40% auto;
    top: 0;
    left: 0;
    font-family: 'Averia Sans Libre', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #005a95;
}

.mars {
    position: relative;
    background-image: url(/images/mars.svg);
}

.neptune {
    position: relative;
    background-image: url(/images/neptune.svg);
}

.planet_layer {
    border: 2px solid #005a95;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    transition: all 1s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.planet_layer:hover {
    background-color: transparent;
}

.lighter_text {
    color: #84b1d0;
}

.small_text {
    font-size: 1.5rem;
}